<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../Layout/head') -%>
    <link rel="stylesheet" href="/css/blog.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
    />
  </head>
  <body>
    <%- include('../Layout/header') -%>
    <section class="singleBlog-section">
      <div class="container">
        <div class="card-img">
          <img src="/<%= data[0].image %>" alt="<%= data[0].title %>" />
        </div>
        <div><%= data[0].title %></div>
      </div>
    </section>
    <%- include('../Layout/footer') -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper(".mySwiper", {
        loop: true,
      });
    </script>
  </body>
</html>
